{{docs-hero
  slimHeading='ember-'
  strongHeading='select'
  byline='The extensible select component'}}

<p><code>ember-select</code> is a highly configurable dropdown component for Ember applications. </p>

{{#docs-demo as |demo|}}
  {{#demo.example name='select.hbs'}}
    <p>I'd like to eat {{favoriteFruit.article}} {{favoriteFruit.name}}</p>

    {{x-select
      model=fruits
      value=favoriteFruit
      valueKey='id'
      labelKey='name'
      openOnFocus=true
      placeholder='Pick a fruit'
      onSelect=(action 'selectFruit') }}
  {{/demo.example}}

  {{demo.snippet name='select.hbs'}}
  {{demo.snippet name='controller.js'}}
{{/docs-demo}}
